body {
  background: linear-gradient(-105deg, rgba(255,255,255,1.0),rgba(224,248,201,1.0));
  padding: 10px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-left {
	text-align:left;
}

.row-right {
	text-align:right;
}

.jumbotron {
    background-color: #ADD8E6;
}

.navbar-default{
    background-color: #E5FFE5;

}

.img-input > img{
    max-width: 100px;
}
