body {
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(224,248,201,1)));
  padding: 10px;
}
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.row-left {
	text-align:left;
}

.row-right {
	text-align:right;
}

.jumbotron {
	background-color: #E5FFE5;
	text-align: center;
}

.navbar-default{
    background-color: #E5FFE5;

}

.can {
	height: 200px;
	width: 200px;
}